<header class="site-header">
  <div class="header-wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <!-- Hamburger icon -->
    <button class="nav-toggle" aria-label="Toggle navigation" onclick="toggleMenu()">
      <span class="hamburger"></span>
      <span class="hamburger"></span>
      <span class="hamburger"></span>
    </button>
    <nav class="site-nav" id="nav-menu">
      <ul class="nav-list">
        {% include nav.html %}
      </ul>
    </nav>
  </div>
</header>

<script>
  // Function to toggle the visibility of the navigation menu
  function toggleMenu() {
    var nav = document.getElementById("nav-menu");
    nav.classList.toggle("show-menu");
  }
</script>
