<ul class="social-media-list">
	<li><a href="https://www.facebook.com/people/Filarmonica-Vannuzzi/61566380846466"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use></svg> <span class="username">Facebook</span></a></li>
	<li><a href="https://www.instagram.com/banda_larga_banda"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use></svg> <span class="username">Instagram</span></a></li>
</ul>
