.site-nav {
   padding: 0;
   box-shadow: 0 0 36px rgba(94, 106, 113, 0.4);
   background-color: #adc1c7 !important;
   z-index: 10;
   display: flex;
   justify-content: center;
}

.site-nav .menu {
   display: flex;
   margin: 0;
}

.site-nav ul li a {
   color: #ffffff;
   text-decoration: none;
}
.menu a {
   padding: 14px 16px;
   line-height: 1em;
}

.dropdown .dropbtn {
   cursor: pointer;
   border: none;
   outline: none;
   color: rgb(0, 0, 0);
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   text-transform: uppercase;
   letter-spacing: 1px;
   line-height: 1em;
   font-weight: 500;
   list-style-type: none;
   font-family: 'Roboto', sans-serif;
}

.drop-menu .dropbtn {
   color: #ffffff;
}

.sub-menu {
   display: none;
   position: absolute;
   border-style: solid;
   border-radius: 5px;
   border-color: rgb(80, 79, 79);
   background-color: black;
   margin: 0em;
}

.sub-menu a {
   float: none;
   color: rgb(255, 255, 255);
   text-decoration: none;
   display: block;
   text-align: left;
   text-transform: uppercase;
   padding: 1em !important;
   transition: color 0.5s ease;

}

.show {
   display: block;
}

.caret {
   display: inline-block;
   width: 0;
   height: 0;
   vertical-align: middle;
   border-top: 4px solid;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
}

.dropdown ul ul {
   position: absolute;
   left: 100%;
   bottom: -35px;
}

.caret-sub {
   border-top: 4px solid transparent;
   border-left: 4px solid;
   border-bottom: 4px solid transparent;
}
